<p>Validating a token is fairly simple and does not require the web site to perform any cryptography. In this example, the access token is sent to the Google endpoint located at
    <strong>{{ params.tokeninfo_uri }}</strong>. The access token may be sent in the query string.
</p>
{% if session.a_t %}

    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            In this login sequence, URL used for the token validation request was: <a href="{{ params.tokeninfo_uri }}?access_token={{session.a_t}}" target="_blank">{{ params.tokeninfo_uri }}?access_token={{session.a_t}}</a>
        </p>
    </div>
    <p></p>
{% endif %}
<p>The Google <em>TokenInfo Endpoint</em> responds with a JSON object that contains the following fields:</p>
<p>
<table id="parameters">
    <th>Name</th>
    <th>Value</th>
    <tr>
        <td>issued_to</td>
        <td>{{session.token_info.issued_to}}&nbsp;<em>(the application that was issued the token)</em></td>
    </tr>
    <tr>
        <td>scope</td>
        <td>{{session.token_info.scope}}&nbsp;<em>(the scopes that the user consented to)</em></td>
    </tr>
    <tr>
        <td>audience</td>
        <td>{{session.token_info.audience}}&nbsp;<em>(the protected resource the token may be sent to)</em></td>
    </tr>
    <tr>
        <td>user_id</td>
        <td>{{session.token_info.user_id}}&nbsp;<em>(the identifier of the user)</em></td>
    </tr>
    <tr>
        <td>expires_in</td>
        <td>{{session.token_info.expires_in}}&nbsp;<em>(the remaining lifetime of the token in seconds)</em></td>
    </tr>
</table>
</p>
<p>Validating the token requires at least checking the audience and the expiration time. When using the library, it is not required to handle the token directly but it is only necessary to pass credentials received in <strong>Step 2</strong> to the method as shown below:</p>
<pre class="brush: py;">
        try:
            verified_token_credentials = IDP_FLOW.step3_verify_token(credentials)
        except FlowTokenInfoError:
            self.redirect('/error')
</pre>


