<p>The authorization server will issue an authorization (code) after the user has been authenticated and given consent.</p>
<p>The code is returned to the redirect_uri as a query parameter and must be extracted by the handler.</p>
{% if session.response_with_code %}

    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            The server returned the following response in this login sequence: {{session.response_with_code}}
        </p>
    </div>
    <p></p>
{% endif %}
<p>After the handler has extracted the code for the query, it exchanged the code for an access token at the <em>Token Endpoint</em> of the OpenID Connect Provider.</p>
<pre class="brush: python;">

    class CallbackHandler(webapp.RequestHandler):

        """ OAuth Redirect handler """

        def get(self, *args):
            try:
                # Exchange code for an access token
                credentials = IDP_FLOW.step2_exchange(self.request.params)
            except FlowExchangeError:
                self.redirect('/error')
</pre>